header .navbardos {
  background-color: #4D4D4D;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: .95;
  margin: 0;
}

header .navbardos .navImg {
  width: 10rem;
  position: absolute;
  top: 1vh;
  left: 8.052708638360176vw;
}

header .navbardos .navbar__ul {
  position: relative;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 80%;
  margin: auto;
  /*  .home{
                position: absolute;
                left: -30%;
            } */
}

header .navbardos .navbar__ul li {
  padding: 1rem;
}

header .navbardos .navbar__ul li .nav-link {
  color: #fffad2;
}

.main .whatsapp {
  position: fixed;
  bottom: 0;
  left: 95%;
  width: 4rem;
}

.main .video {
  width: 100%;
  margin: auto;
  display: none;
}

.main .scroll {
  position: relative;
  bottom: 4rem;
}

.main__nosotros {
  width: 80%;
  margin: auto;
}

.main__nosotros h1 {
  color: #663366;
  font-family: "Gobold", sans-serif;
}

.main__nosotros__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__nosotros__texto .parrafos {
  width: 80%;
  margin: auto;
}

.main__nosotros .id {
  position: relative;
  bottom: 4rem;
}

.main__servicios {
  background-color: #4D4D4D;
  color: white;
  width: 100%;
  background-size: 100%;
  overflow: visible;
}

.main__servicios h2 {
  font-family: "Gobold", sans-serif;
}

.main__servicios .ordenar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.main__servicios .ordenar .servicio {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

.main__servicios .ordenar .servicio .circulo {
  width: 100px;
  height: 100px;
  background-color: #663366;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__servicios .ordenar .servicio .circulo img {
  width: 72px;
}

.main__servicios .ordenar .servicio p {
  white-space: pre;
}

.main__servicios .ordenar .fit {
  width: 48px;
}

.main__servicios .ordenar .bajar {
  padding: 3px;
}

.main__galeria .scroll {
  position: relative;
  bottom: 6rem;
}

.main__galeria h2 {
  color: #663366;
  margin: 3rem;
}

.main__galeria__habitaciones {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__galeria__habitaciones .img__box {
  position: relative;
  display: inline-block;
}

.main__galeria__habitaciones .img__box__texto {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.main__galeria .fix {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-top: 6rem;
}

.main .main__contacto .scroll {
  position: relative;
  bottom: 6rem;
}

.main .main__contacto__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "achicar info";
  width: 60%;
  margin: auto;
}

.main .main__contacto__grid .achicar {
  width: 80%;
  height: 430px;
  overflow: hidden;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: achicar;
}

.main .main__contacto__grid .info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
  background-color: #4D4D4D;
  height: 90%;
  color: #fffad2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1%;
}

.main .main__contacto__grid .info p {
  width: 85%;
  margin: auto;
}

.main .main__contacto__grid .info p img {
  margin-right: 1rem;
}

.main .main__contacto .map {
  width: 60%;
  margin: auto;
}

.main .main__contacto .map .googleMaps {
  height: 300px;
  border-radius: 1%;
  margin-bottom: 3rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
}

.contenedor::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
  width: 10px;
  background-color: #4D4D4D;
}

.contenedor::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
  display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
  height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
  background-color: #b8b6b6;
  border-radius: 20px;
}

.contenedor::-webkit-scrollbar-track {
  border-radius: 10px;
}

@font-face {
  font-family: "infinite_stroke";
  src: url("/Infinite_Stroke.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gobold';
  src: url("../Gobold-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.gobold {
  font-family: 'Gobold';
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 5rem;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */
.footer {
  height: 10vh;
  background-color: black;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  body .infinite {
    font-size: 2rem;
  }
  .header .navbardos {
    z-index: 1;
    opacity: 0.95;
  }
  .header .navbardos .navbar__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .navbardos li {
    padding: 0;
  }
  .main {
    width: 100%;
    overflow-x: hidden;
  }
  .main .video {
    margin-top: 14vh;
    width: 100%;
    overflow: hidden;
  }
  .main .frontPhone {
    display: none;
  }
  .main__nosotros__texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__servicios .ordenar .servicio {
    width: 150px;
  }
  .main__nosotros__texto {
    width: 100%;
  }
  .main__nosotros__texto .esconder {
    display: none;
  }
  .main__nosotros__texto .img-fluid {
    width: 100%;
  }
  .main__galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__galeria__habitaciones {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__galeria__habitaciones .wfix {
    width: 95%;
    opacity: 1;
  }
  .main__galeria .fix {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .main__contacto {
    width: 100%;
  }
  .main__contacto h2 {
    font-size: 2rem;
  }
  .main__contacto__grid {
    margin: auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__contacto__grid .achicar {
    width: 90%;
  }
  .main__contacto__grid .info {
    margin: 1rem 0;
  }
  .main__contacto .map {
    width: 90%;
    margin: auto;
  }
  .main__contacto .map .googleMaps {
    width: 90%;
    margin: 0;
  }
}

@media (min-width: 1400px) {
  .main__servicios .ordenar .servicio {
    width: 350px;
  }
  .main__servicios .ordenar .servicio .circulo {
    width: 150px;
    height: 150px;
  }
  .main__servicios .ordenar .servicio .circulo img {
    width: 100px;
  }
}
/*# sourceMappingURL=style.css.map */