header .front {
  width: 100%;
}

header .frontPhone {
  display: none;
}

.main .navbardos {
  background-color: #4D4D4D;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 30%;
}

.main .navbardos .navImg {
  width: 10rem;
  margin-left: 3rem;
}

.main .navbardos .navbar__ul {
  position: relative;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: auto;
  /*  .home{
                position: absolute;
                left: -30%;
            } */
}

.main .navbardos .navbar__ul li {
  padding: 1rem;
}

.main .navbardos .navbar__ul li .nav-link {
  color: #fffad2;
}

.main__nosotros {
  width: 70%;
  margin: auto;
}

.main__nosotros h1 {
  color: #663366;
}

.main__servicios {
  background-color: #4D4D4D;
  color: #fffad2;
}

.main__servicios .col {
  width: 10rem;
  text-align: center;
  margin: 3rem;
}

.main__galeria h2 {
  color: #663366;
  margin: 3rem;
}

.main__galeria__habitaciones {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__galeria__habitaciones .wfix {
  width: 22.8125vw;
  height: 51.135241855873645vh;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
  opacity: .79;
}

.main__galeria__habitaciones .wfix:hover {
  -webkit-transform: translate(0, -5px) scale(1.005);
          transform: translate(0, -5px) scale(1.005);
  -webkit-filter: none;
          filter: none;
  opacity: 1;
  -webkit-box-shadow: 6px 5px 31px -6px rgba(64, 46, 46, 0.44);
          box-shadow: 6px 5px 31px -6px rgba(64, 46, 46, 0.44);
}

.main__galeria__habitaciones .habitaciones__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main__galeria__habitaciones .habitaciones__box .servicios__habitaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__galeria__habitaciones .habitaciones__box .servicios__habitaciones img {
  width: 70px;
  margin: 0 20px;
}

.main .fix {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-top: 6rem;
}

.main .btn-galeria {
  padding: 1rem 1rem;
  background-color: #663366;
  border-radius: 10px;
}

.main .achicar {
  width: 20%;
  height: 350px;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@media (min-width: 360px) and (max-width: 991.98px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .header .front {
    display: none;
  }
  .header .frontPhone {
    display: block;
  }
  .main .navbardos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    z-index: 1;
  }
  .main .navbardos li {
    padding: 0;
  }
  .main__servicios .row {
    margin-left: 0;
    margin-right: 0;
  }
  .main__nosotros {
    width: 100%;
  }
  .main__galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__galeria__habitaciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__galeria__habitaciones .wfix {
    width: 100%;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */