.footer{
    
    background-color: $color-principal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh;
    grid-template-areas: "copy logo redes";
    overflow-x: hidden;
    justify-content: center;
    align-items: center;

   

    .copy{
        grid-area: copy;
        color: white;
        margin: 1rem auto;
        text-align: center;
        p{
            font-size: 12px;
        }
        .diff{
            color: $color-secundario;
        }
    }
    .logo{
        grid-area: logo;
        margin: 1rem auto;
        img{
            height: 15vh;
        }
    }
    .redes{
        grid-area: redes;
        display: flex;
        flex-direction: column;
        align-items: start;
        color: white;
        position: relative;
        left: 45%;
        overflow: hidden;
        width: 35%;
        margin: 1rem auto;
        
        
        img{
            height: 3vh;
            margin: 1vh;
            
        }
    }
    .limit{
        position: relative;
    }
}