@import "variables";

header{
    .navbardos{
        background-color: $color-principal;
        position: fixed;
        width: 100%;
        z-index: 1;
        opacity: .95;
        .navImg{
            width: 10rem;
            position: absolute;
            top: 1vh;
            left: 8.052708638360176vw;
        }
        .navbar__ul{
            position: relative;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: end;
            width: 85%;
            margin: auto;
           /*  .home{
                position: absolute;
                left: -30%;
            } */
            li{
                padding: 1rem;
                .nav-link{
                    color: $color-secundario;
                }
                
            }
            
        }
    }
    
   
    
}