main{
    .btn-izquierda{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 95%;
        top: 10%;
        z-index: 1;
        width: 5rem;
        overflow: hidden;
       
        
        a{
            background-color: green;
            margin-top: 5px;
            transition: .3s all ease-in-out;
            width: 200px;
            transform: translate(20%);
            border-radius: 10px;
            &:hover{
                transform: translateX(-1px);
                width: 200px;
                
            }
            
           

        
        img{
            margin: 0.5rem;
            height: 1rem;
        }
    }
    }
    .video{
        width: 100%;
        margin-bottom: 50px;
    }
    
    }
