@import "variables";

.main{
    .video{
        width:100%;
        margin: auto;
    }
    .frontPhone{
        display: none;
    }
    
    &__nosotros{
        width: 70%;
        margin: auto;
        h1{
            color: $tituloDos;
            font-family: $infinite;
        }
        
    }
    &__servicios{
        background-color: $color-principal;
        color: white;

        h2{
            font-family: $infinite;
        }
        .servicio{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            
            
        .circulo{
            width: 100px;
            height: 100px;
            background-color: $tituloDos;
            border-radius: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 72px;
            }
        }
        p{
           white-space: pre;
        }
           
            .fit{
                width: 48px;
            }
            .bajar{
                padding: 3px;
            }
        }
        
        
        .col{
            
            width: 10rem;
            text-align: center;
            margin: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    
        }
        &__galeria{

            h2{
                color: $tituloDos;
                margin: 3rem;
               

            }
            &__habitaciones{
               width: 80%;
               margin: auto;
               display: flex;
               flex-direction: row;
               justify-content: space-evenly;
               .wfix{
                   width: 22.8125vw;
                   height: 51.135241855873645vh;
                   border-radius: 5px;
                   cursor: pointer;    
                   transition: all 1s ease-in-out;
                   filter: grayscale(30%);
                   opacity: .79;
                   &:hover{
                       transform: translate(0, -5px)
                       scale(1.005);
                       filter: none;
                       opacity: 1;
                       box-shadow: 6px 5px 31px -6px rgba(64,46,46,0.44);  

                       
                   }
                
                }
               .habitaciones__box{
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   text-align: center;
                   .servicios__habitaciones{
                       display: flex;
                       justify-content: center;
                       margin: 1rem 0;
                       img{
                            width: 70px;
                            margin: 0 20px;
                       }
                      
                   }
                   .btn-verMas{
                       color: black;
                       margin: auto;
                       padding: .5rem;
                       border-radius: 5px;
                       border: 1px $color-principal solid;
                       width: 30%;
                       text-decoration: none;
                       background-color: $color-secundario;
                       font-weight: 600;
                       &:hover{
                        background: rgb(255,250,210);
                        background: linear-gradient(156deg, rgba(255,250,210,1) 66%, rgba(77,77,77,1) 98%);
                       }

                   }
                }
               }
            }
        
           
           
                   
             
            }
            .fix{
                transform: scale(1.5);
                margin-top: 6rem;
            }
        .main__contacto{

            &__grid{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-areas: "achicar info";
            width: 60%;
            margin: auto;

            .achicar{
            width: 70%;
            height: 430px;
            overflow: hidden;
            grid-area: achicar;


            }
            .info{
                grid-area: info;
                background-color: $color-principal;
                height: 90%;
                color: $color-secundario;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 1%;
                p{
                    width: 98%;
                    margin: auto;
                }
                
            }
            
            }
            .map{
                width: 60%;
                margin: auto;
            .googleMaps{
                height: 150px;
                border-radius: 1%;
                border: 1px solid black;
             }

        }
           
        
        }
    
    
