$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

.main{
    
    &__nosotros{
        width: 70%;
        margin: auto;
        h1{
            color: #663366;
        }
        
    }
    &__servicios{
        background-color: #4f4f4f;
        color: #fffad2;
        
        
        .col{
            width: 10rem;
            text-align: center;
            margin: 3rem;
        }
    
        }
        &__galeria{
            h2{
                color: #663366;
            }
           
           
                   
             
            }
            .fix{
                transform: scale(1.5);
                margin-top: 6rem;
            }
            .btn-galeria{
                padding: 1rem 1rem;
                background-color:#663366;
                border-radius: 10px;
        }
           
        
        }
    
