@media (min-width: 320px) and (max-width: 991.98px) {   
    body{
        width: 100%;
        overflow-x: hidden;
        .infinite{
            font-size: 2rem;
        }
    }  
    .header{
        .navbardos{
            z-index: 1;
            opacity: 0.95;
            .navbar__ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            li{
                padding: 0;
            }
            
        }
        
    }
 
    .main{
        width: 100%;
        overflow-x: hidden;
        .video{
            margin-top: 14vh;
            width: 100%;
            overflow: hidden;
        }
        .frontPhone{
            display: none;
        }

    &__nosotros{
        &__texto{
        display: flex;
        flex-direction: column;
    }
}
        
    &__servicios{
        .ordenar{
            .servicio{
                width: 150px;
            }
        }
    }


    &__nosotros{
        &__texto{
        width: 100%;
        .esconder{
            display: none;
            
        }
        .img-fluid{
            width: 100%;
        }
    }
}
    
    &__galeria{
        display: flex;
        flex-direction: column;
    &__habitaciones{
        width: 100%;
        display: flex;
        flex-direction: column;
        .wfix{
            width: 95%;
            opacity: 1;
        }
        
    }
    .fix{
        transform: scale(1.1);
    }
}
    &__contacto{
        width: 100%;
        h2{
            font-size: 2rem;
        }
        &__grid{
            .achicar{
                width: 90%;
            }
            margin: auto;
            
            width: 90%;
            display: flex;
            flex-direction: column-reverse;
            .info{
                margin: 1rem 0;
            
            }
        }
        .map{
            width: 90%;
            margin: auto;
        .googleMaps{
            width: 90%;
            margin: 0;
        }
    }
}


}
}